<% provide(:title,"About") %>
<h2>ようこそ俺の勉強部屋へ！</h2>

<div class="about">
<h3>俺の勉強部屋で出来る事は？</h3>

<h3>① 塗り絵勉強法で学習管理</h3>
<%= image_tag asset_path('sample.jpeg') ,class:'sample-image'%>
<p>「国語は黄色、数学はピンク、日本史は赤……」のように各科目にどの色を使うか決めましょう。ビジネスパーソンの場合も「英単語の暗記は青、リスニングは黄色」「TOEICは青、中国語検定は赤」のように、勉強したいジャンルごとにそれぞれ色を決めてください。

方眼紙は、1マスで15分を表しています。1マスめに、今日の日付を記入しましょう。日付を記入したマスからぬり絵がスタートします。たとえば、国語を30分勉強したら、国語の色で2マス塗りましょう。</p>
<h4>塗り絵勉強法のメリット</h4>
<p>勉強すればするほど塗った面積が増え、方眼紙がカラフルになっていくので、自分がどれだけ頑張ったかが一目瞭然になります。色を塗る行為自体が勉強へのモチベーションになるのに加え、どの教科にどれくらい時間を費やしているのか把握しやすいため、教科ごとに勉強時間が偏ってしまうのを防げますね。
</p>
<h3>② ソーシャル機能でモチベーションUp</h3>

</div>
