<% provide(:title,"About") %>
<h2>ようこそ俺の勉強部屋へ！</h2>

<div class="about">
<h3>俺の勉強部屋で出来る事は？</h3>

<h3>① ぬり絵勉強法で学習管理</h3>
<%= image_tag asset_path('oekaki_nurie.png') ,class:'sample-image'%>
<h4>ぬり絵勉強法とは？</h4>
<p>国語は黄色、数学は赤色のように各科目にどの色を使うか決めましょう。
  方眼紙は、1マスで15分を表しています。たとえば数学を30分勉強したら、数学の色で2マス塗りましょう。</p>
<h4>メリット</h4>
<p>勉強すればするほど塗った面積が増え、方眼紙がカラフルになっていくので、自分がどれだけ頑張ったかが一目瞭然になります。色を塗る行為自体が勉強へのモチベーションになるのに加え、どの教科にどれくらい時間を費やしているのか把握しやすいため、教科ごとに勉強時間が偏ってしまうのを防げます。
</p>
<p>また、やる気は、脳から分泌されるドーパミンという脳内物質によってもたらされます。</p><br>
<p>つまり、やる気のある状態になるためには、ドーパミンが分泌される状況を作るのが得策です。</p><br>
<p>神経内分泌学者でスタンフォード大学の教授であるロバート・サポロスキー氏によると、ドーパミンが分泌されるのは、報酬が得られたときではなく、報酬を期待したときなのだそう。</p><br>
<p>しかし、例えば一年後に受ける資格試験の勉強を開始するとして、一年も後に得られるであろう資格に合格するという「報酬」を期待し続けるのは非常に困難です。
これが遠い目標に向かって、努力を続けるのが難しい原因の一つです。</p><br>
<p>ぬり絵勉強法では、15分ごとの「ぬり絵」が報酬の役割を果たしてくれます。
15分ごとに「ぬり絵を塗る」という報酬が期待出来るため学習を続けられるという訳です。
</p><br>
<p>また、一時間、二時間とみっちり勉強したい時などはタイマー機能で自動で記入することができます。</p>
<h3>② ソーシャル機能でモチベーションUp</h3>
<%= image_tag asset_path('yaruki_moeru.png') ,class:'sample-image'%>
<p>俺の勉強部屋には、ソーシャル機能がありフレンドと今日「何を何時間学習したか」、「今日の学習についての日記」を共有できます。</p><br>
<p>また学習時間によって日、月ごとにランキングされます。</p><br>
<p>ライバルを作ってモチベーションをUpしよう！！</p>

</div>
