@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*header*/

.head{
  background-color: #009999;
  height:70px;
  color:white;
}

header{

    li{
      float:right;
      list-style:none;
      font-size: 15px;
      padding-right: 8px;
      margin-top: 5px;
      margin-right: 8px;
      display: inline-block;


      }
    li:hover{
      font-size: 20px;
      color: white;


      }

}

.head-link{
  background-color: #009999;
  border-color: white;
  font-size: 15px;
 }
 .head-link:hover{
   background-color: #009999;
   font-size: 22px;
   border-color: white;
 }
 .dropdown-toggle:active{
   background-color: #009999;
   font-size: 22px;
   border-color: white;
 }
 .dropdown-toggle:visited{
   background-color: #009999;
   font-size: 22px;
   border-color: white;
 }



/*bootstrap*/

/*home*/
.home{
  background-color:rgba(204,204,204,0.3);
  width:100%;
  height:600px;
}

.top-wrapper{
    position:relative;
    height: 400px;
    text-align: center;

  h1{
    color: #009999;
    padding-top: 20px;

  }
  .signup{
    background-color: #009999;
    opacity:0.9;
    position: absolute;
      top:127%;
      left:53%;

   }
  .login{
    background-color: #009999;
    opacity:0.9;
    position: absolute;
      top:127%;
      left:40%;

  }
  .benkyo{
    background-color: #009999;
    opacity:0.9;
    position: absolute;
      top:127%;
      left:43%;
  }

  .signup:hover{
    font-size:25px;

  }
  .login:hover{
    font-size:25px;
  }
  .benkyo:hover{
    font-size:25px;
  }
  img{

  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.head-link {
  color: white;
}


/* footer */

footer {

  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: white;
  background-color: #009999;

  height:80px;
  opacity: 0.9;
  width:100%;
}

footer a {
  color: white;
}

footer a:hover {
  opacity: 0.7;
}

footer small {
  float: left;
  letter-spacing: inherit;
  padding-top: 20px;

  padding-left: 15px;
}

footer ul {
  float: right;
  list-style: none;
  margin-right: 26px;
}

footer ul li {
  float: left;
  margin-left: 15px;
  padding-top: 20px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.check_box {
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me{
  width: auto;
  margin-left: 0;
}

/* Users index */
.index-title{
  color: #009999;
}

.form{
  position:relative;
  .label{
    color: #009999;
    font-size: 20px;
    float:left;
  }
  .form-control{
    width:300px;
    float:left;
  }
  .index-serch{
    width:75px;
    margin-top: 6px;
    margin-left: 5px;
    float:right;
    opacity:0.8;
    border-radius: 1px;
  }

}

.pagination{
  color: #009999;
  padding-left: 70px;
}

.paginate-wrapper{
  margin: 0 auto;
  clear:both;
  color: #009999;

}


.form-wrapper{
  float:left;
}

.users {
  list-style: none;

  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid black;
    width:35%;
  }
}

/*user_show*/
.row{
   display: flex;

   .col-md-4{

     padding:10px;

     margin-top:40px;

     border-bottom: 1px solid #009999;

  /*box-shadow: 1px 1px 1px 2px #009999 inset;*/
      }
    .profiles{

      p{
          margin-top: 50px;
          margin-left: 13px;
          padding:10px;
      }
      .profile{
        margin-left: 35px;
        border:1px solid black;
        padding:18px 10px;
        border-radius: 13px;
      }
    }
}

.stats{
  padding-top: 10px;
  .follow_link{
    font-size:15px;
    margin-top: 25px;
  }
}
.dairys{

  display: flex;

 .dairy-wrapper{
   margin-right: 50px;
   width:45%;
  p{
    margin-top: 10px;
    margin-left: 10px;

  }
  .dairy{
  border: double 5px gray;
  height:350px;

  padding:10px;
   }


   .yotei{
     margin:5px 0;

     font-size:15px;
     padding: 5px;
    }
 }
}


.study-times{


    p{
      margin-top: 10px;
      display: block;
    }
    .box{
      display: flex;
       p{
        font-size:28px;
        padding-left: 0px;
        padding-top: 0px;
        margin-top: 0px;
       }
      .study-time{
        border: 2px solid gray;
        width:120px;
        height:40px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        border-radius: 6px;
      }
    }

    .study-times{


        p{
          margin-top: 10px;
          display: block;
        }
        .box{
          display: flex;
           p{
            font-size:28px;
            padding-left: 0px;
            padding-top: 0px;
            margin-top: 0px;
           }
          .study-time{
            border: 2px solid gray;
            width:120px;
            height:40px;
            padding: 5px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            border-radius: 6px;
          }
        }


      }
  }



/*users/show*/

.nurie_table{
  border-radius: 8px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 40px;
  table {
	border-collapse: collapse;
  width:90%;



 tr{

   td{
	border: solid 1px;


  width:20px;
 padding:20px 19px;
    }
  }
}
}

.study-day{
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-top:30px;
  margin-left:30px;
}

.show-form{
  .col-md-6 col-md-offset-3{
    height:300px;
   }
  p{
    font-size: 7px;
  }
}

.studies{
  margin-top:20px;
  .dairy-wrapper{
  .dairy{
    height:170px;
  }
 }
}

.link-wrapper{
  display:flex;
  .write-dairy{
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 60px;
    margin-bottom: 30px;
    height:210px;
    width:320px;
    background-image: image-url('dairy.jpg');
    background-size:cover;
     position:relative;
    .links{
      position:absolute;
        top: 80px;
        left:70px;

      p{
        background-color: #009999;
        border-radius: 5px;
        opacity: 0.87;
        .link{
          color: white;

        }:hover{
          text-decoration: none;
          font-size:18px;
        }


      }

      }


  }
  .planning{
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
    height:220px;
    width:300px;
    background-image: image-url('dairy.jpg');
    background-size:cover;
     position:relative;
     .links{
       position:absolute;
         top: 85px;
         left:70px;

       p{
         background-color: #009999;
         border-radius: 5px;
         opacity: 0.87;
         .link{
           color: white;

         }:hover{
           text-decoration: none;
           font-size:18px;
         }


       }

       }

  }
  .rank-link{
    margin-top: 10px;
    margin-right: 70px;
    margin-left: 30px;
    margin-bottom:20px;
    padding:0px;
    height:240px;
    width:280px;
    opacity:0.8;
    background-image: image-url('rank.jpeg');
    background-size:cover;
     position:relative;
     .links{
       position:absolute;
         top: 130px;
         left:68px;

       p{
         background-color: #009999;
         border-radius: 5px;
         opacity: 0.87;
         margin-bottom:10px;
         .link{
           color: white;
           padding:5px;


         }:hover{
           text-decoration: none;
           font-size:18px;
         }


       }

       }

  }


}

.users{
  margin-bottom:30px;
  .data{
    margin-right:5px;
  }
}

/*rank*/
.rank-title{
  color: #009999;
}

.ranks-wrapper{

  .ranks{
    border-bottom: 1px solid #009999;
    margin-left: 15%;
    margin-bottom: 1%;
    display: flex;
    width:70%;
    .rank-icon{
      width:40px;
      height:40px;
      margin-top: 9px;
      padding-bottom: 0px;
    }
    .kuuhaku{
      width:40px;
      height:20px;
    }
    h2{
      margin-left: 10px;
      font-size:25px;
      padding-bottom: 0px;
    }
    .name{
      .rank-name{
        color:gray;
      }:hover{
        text-decoration: none;
        color: #009999;
      }
    }
  }
}
/* sidebar */
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 20px;
    margin:10px;
    margin-left: 15px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #009999;
      font-size: 18px;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/*dairy/edit*/
.edit-wrapper{
  height:600px;



  .editer{

    margin-top:5%;
    margin-bottom:5%;
  .image{
      margin:0 auto;
      background-image: image-url('dairy.jpg');
      background-size:cover;
      width:60%;
      height:500px;
      position:relative;
      opacity: 0.9;
    .form-control{
      position:absolute;
        top:30%;
        left:20%;
      width:60%;
      height:200px;
      border: 1px solid black;
     }
    }
    .btn{
      margin-left: 41%;
      margin-top: 1%;
      width:18%;
      background-color: #009999;
      font-size:20px;

    }

  }
}
/*dairy/index*/


.contents-wrapper{
  margin-top:4%;
  height:760px;
  display:flex;
  flex-wrap: wrap;
  .contents{
      width:25%;
      margin-right: 8%;

    .date{
      font-size: 20px;
      color:black;

    }
    .content{
      border: double 3px gray;
      border-radius: 10px;
      height:310px;
      padding:10px;

      p{
        color:black;

      }
    }
  }
}


.page{
  margin-left: 30%;
}




/*marker#new*/

.new-markers{

  h1{
    text-align: left;
    font-size: 35px;
  }
  margin-bottom:40px;
  margin-left:30px;
  .new-marker{
    margin-top: 15px;
    margin-left:100px;
    display: flex;
    flex-wrap: wrap;

    .color-field{
      .Red{
        background-color: rgba(204,51,51,0.7)
      }
      .Yellow{
        background-color: rgba(255,255,51,0.7)
      }
      .Blue{
        background-color: rgba(102,153,255,0.7)
      }
      .Light-Blue{
        background-color: rgba(102,204,255,0.7)
      }
      .Green{
        background-color: rgba(51,153,153,0.7)
      }
      .Yellow-green{
        background-color: rgba(102,204,153,0.7)
      }
      .form-control{
        margin-right: 30px;
        width:130px;
        font-weight:bold;

      }

    }
    .form-field{
      margin-left: 30px;
      .form-control{
        margin-right: 30px;
        width:300px;

      }

    }
  }
  .btn{
    margin-left: 24%;
    margin-top: 5%;
    width:13%;
    background-color: #009999;
    font-size:15px;
    opacity:0.8;

  }
}
