@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*header*/

.head{
  background-color: #009999;
  height:70px;
  color:white;
}
#logo{
  margin-top: 10px;
}

header{

    li{
      float:right;
      list-style:none;
      font-size: 15px;
      padding-right: 8px;
      margin-top: 5px;
      margin-right: 8px;
      display: inline-block;


      }
    li:hover{


      color: white;


      }

}

.head-link{
  background-color: #009999;
  border-color: white;
  font-size: 15px;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
 }
 .head-link:hover{
   background-color: #009999;
   box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
   transform: translateY(-0.1875em);

   border-color: white;
 }
 .dropdown-toggle:active{
   background-color: #009999;

   border-color: white;
 }
 .dropdown-toggle:visited{
   background-color: #009999;

   border-color: white;
 }


/*bootstrap*/

/*home*/

.home-middle{
  margin-top: 280px;
  margin-bottom: 100px;
  margin-left: 200px;
  width:900px;
  border-top:1px solid gray;
  border-bottom:1px solid gray;
  padding-bottom: 40px;
}

.home-middlee{
;
 }

.image-home-aicon{
  width:350px;
  height: 350px;
  opacity: 0.8;
  position: absolute;
    top:90px;
    right: 300px;
}
.home{

  width:100%;

}

.top-wrapper{
    position:relative;

    margin-left: 200px;
    margin-bottom: 230px;

  h1{

    padding-top: 20px;

  }
  .top-about-me{
    color:gray;
    margin-left:290px;
  }
  .title-home{
    font-size:40px;
    letter-spacing: inherit;
    margin-top: 50px;
  }

  .signup{
    background-color: #009999;
    border-color: white;
    opacity:0.9;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);

    position: absolute;
      top:160px;
      left:200px;

   }
  .login{
    background-color: #009999;
    border-color: white;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
      top:240px;
      left:150px;

  }
  .benkyo{
    background-color: #009999;
    opacity:0.9;
    position: absolute;
    top:160px;
    left:200px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  }

  .signup:hover{
    background-color: #009999;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);

    border-color: white;

  }
  .login:hover{
    background-color: #009999;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);

    border-color: white;
  }
  .benkyo:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);
  }
  img{

  }
}

.about-for-home{
  background-color: white;
  margin-top: 100px;
}

.sample-nurie{
  width:400px;
  height:250px;
}


.step{
border-top: 1px solid gray;
border-bottom: 1px solid gray;
margin-bottom: 100px;
background-color:rgba(126,126,126,0.1);
width:100%;
 h2{
   margin-right: 100px;
   margin-bottom: 40px;
 }

.home-about-wrapper{

.home-about1{
  display: flex;
  margin-left: 10px;
  margin-right: 3px;
  margin-bottom: 30px;
  .home-about-p1{
    width:145px;
  }
}

.home-about3{
  display: flex;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 30px;
}
.home-about4{
  display: flex;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 30px;
}


.explanation-image-1{
  width:230px;
  height: 300px;
  margin-left: 30px;
  border-radius: 10px;
}


.explanation-image-3{
  width:300px;
  height: 200px;
  margin-left: 30px;

}

.explanation-image-4{
  width:300px;
  height: 200px;
  margin-left: 30px;
}

}

}
.home-about-wrapper{
  display: flex;
}

/*about*/
.about{
  background-color:rgba(126,126,126,0.2);
  border-radius: 10px;
  padding:30px;
  margin-bottom: 100px;
}
.sample-image{
  width:300px;
  height:250px;
  margin-bottom: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.head-link {
  color: white;
}


/* footer */

footer {

  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: white;
  background-color: #009999;

  height:80px;
  opacity: 0.9;
  margin:0 auto;
  width: 100%;


}

footer a {
  color: white;
}

footer a:hover {
  opacity: 0.7;
}

footer small {
  float: left;
  letter-spacing: inherit;
  padding-top: 20px;

  padding-left: 15px;
}

footer ul {
  float: right;
  list-style: none;
  margin-right: 26px;
}

footer ul li {
  float: left;
  margin-left: 15px;
  padding-top: 20px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.check_box {
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me{
  width: auto;
  margin-left: 0;
}
/* Usercreate*/
.create-user{
  margin-bottom: 100px;
}
.session-new{
  margin-bottom: 150px;
  margin-top: 60px;
}
.remember-me{
  margin-left: 15px;
}
.session-new-title{
  margin-top: 100px;
}

/* Users index */
.users-wrapper{
  display: flex;
  margin-bottom: 10px;
}
.side-menus-user{



  margin-top: 100px;
  border-right: 1px solid gray;
  height: 713px;
}
.mini-menu-title{
  font-size:22px;
}
.side-menu{
  display: flex;
  padding: 12px 8px;
  //border-bottom: 1px solid;//
  margin-bottom: 25px;

  width:200px;
  .side-icon{
    margin-left: 10px;
    width:23px;
    height: 2px;
    margin-right: 10px;
    margin-top: 8px;
  }
  .link{
    color:black;
    font-size:17px;
  }
  .link:hover{
    text-decoration: none;

  }
}
.side-menu:hover{
  background-color: rgba(126,126,126,0.4);
}
.user-index-content{
  margin-top: 100px;
}

.active-menu{
  background-color: rgba(126,126,126,0.3);
}

.form{
  position:relative;
  .label{
    color: black;
    font-size: 18px;
    font-weight: normal;
    float:left;
    margin-top: 3px;
  }
  .form-control{
    width:300px;
    float:left;
  }
  .index-serch{
    width:75px;
    margin-top: 6px;
    margin-left: 5px;
    float:right;
    opacity:0.8;
    border-radius: 1px;
  }

}

.pagination{
  color: #009999;
  padding-left: 70px;
}

.paginate-wrapper{
  margin: 0 auto;
  clear:both;
  color: #009999;


}


.form-wrapper{
  float:left;
  margin-left: 90px;
  margin-bottom:  40px;
}
.index{
  margin-left: 60px;

.users {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 500px;

  li {
    padding-left: 10px;
    overflow: auto;
    padding: 10px 0;
    margin-right: 10px;
    border-right:1px solid gray;
    width:35%;
    .gravatar{
      border-radius: 30px;
    }
  }
}
}

.study{
.users {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 500px;

  li {
    padding-left: 10px;
    overflow: auto;
    padding: 10px 0;
    margin-right: 10px;
    border-bottom: 1px solid gray;
    width:35%;
    .gravatar{
      border-radius: 30px;
    }
  }
}
}

/*user_show*/
.user-content{
  margin-left: 100px;
  margin-top: 100px;

.profile{
  display: flex;
  .name{
    margin-top: 20px;
    margin-left: 10px;
  }
  .sheet{
    margin-top: 20px;
    margin-left: 30px;
  }
}
.description-title{
  margin-left: 10px;
  margin-top: 20px;
}

.description{
  border:1px solid gray;
  border-radius: 10px;
  width:400px;
  height:180px;
  margin-left: 10px;
  padding: 10px;
}

.dairy-title{
  display: flex;
  margin-top: 20px;
  .side-icon{
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 10px;
    width:24px;
    height: 24px;
    margin-top: 2px;

  }
}

.dairy-wrapper{



  .dairy{
    margin-left: 10px;
    width:310px;
    height:230px;
    border:1px solid gray;
    border-radius: 10px;
    padding: 10px;
  }
  .dairy-edit-link{
    display: flex;
    margin-left: 10px;
    width:120px;
    padding: 5px;
  .side-icon{
    width: 25px;
    height: 20px;


  }
  .link{
    color:black;
  }
  .link:hover{
    text-decoration: none;

  }
  }
  .dairy-edit-link:hover{
    background-color: rgba(126,126,126,0.4);
  }
}

}

.time-by-field-today{
  padding: 2px;
  border-radius: 10px;
  display: block;
}

.user-information{
  display: flex;
#times{
  margin-left: 100px;
  margin-top: 15px;
  p{
    padding: 2px;
    border-radius: 10px;
    width: 250px;
  }
}
}
.row{
   display: flex;

   .col-md-4{

     padding:10px;

     margin-top:40px;

     border-bottom: 1px solid #009999;

  /*box-shadow: 1px 1px 1px 2px #009999 inset;*/
      }
    .profiles{

      p{
          margin-top: 50px;
          margin-left: 13px;
          padding:10px;
      }
      .profile{
        margin-left: 35px;
        border:1px solid black;
        padding:18px 10px;
        border-radius: 13px;
      }
    }
}

.stats{
  padding-top: 10px;
  .follow_link{
    font-size:15px;
    margin-top: 25px;
  }
}


  .study-times{


      p{
        margin-top: 10px;
        display: block;
      }
    .box{
      display: flex;
       p{
        font-size:28px;
        padding-left: 0px;
        padding-top: 0px;
        margin-top: 0px;
       }
      .study-time{
        border: 2px solid gray;
        width:120px;
        height:40px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        border-radius: 6px;
      }
    }
    .study-times{
        p{
          margin-top: 10px;
          display: block;
        }
      .box{
        display: flex;
         p{
          font-size:28px;
          padding-left: 0px;
          padding-top: 0px;
          margin-top: 0px;
         }
        .study-time{
          border: 2px solid gray;
          width:120px;
          height:40px;
          padding: 5px;
          margin-left: 10px;
          margin-right: 10px;
          text-align: center;
          border-radius: 6px;
        }
      }
    }
}


//user#update//
.active{
  background-color: rgba(126,126,126,0.3);
}
.alert{
  margin-top: 20px;
}
.edit-title{
  font-size: 31px;
  text-align: left;
  margin-left:5px;
  margin-top: 80px;

}
.user-edit{

  display: flex;
#tabMenu{
  margin-left: 40px;
  width:200px;
  margin-top: 90px;
  list-style:none;
  border-right: 1px solid gray;
  margin-right: 5px;
.menu{
  cursor: pointer;
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  .aicon{
    color: rgba(0,128,0,0.7);
  }
  .con{


    /*border-radius: 4px;
    opacity: 0.9;
    padding: 3px;
    margin-bottom:10px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);*/
  }
  .con:hover{

  }

}
.menu:hover{
  background-color: rgba(126,126,126,0.4);
}

}
.content{
    margin-top: 140px;
    margin-left: 80px;

  .row{
    .col-md-6{
      width: 600px;
      height: 400px;
      label{
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .update{
        width:100px;
        margin-left:230px;
        margin-top: 25px;
      }
    }
    .profile{
      .form-control{
        height: 200px;
      }
    }
  }

}
}

//study/show*/

.side-menus{
  position: absolute;
    top:156px;
    right:140px;
  padding:10px;
  background-color: rgba(126,126,126,0.3);
  border-radius: 10px;

  .cross-mark{
    width:20px;
    height: 20px;
    position: relative;
      bottom: 55px;
      right: 20px;
    cursor: pointer;
  }

}
.mini-menu-title{
  font-size:16px;
}
.side-menu{
  display: flex;

  //border-bottom: 1px solid;//
  margin-bottom: 2px;
  width:200px;
  .side-icon{
    margin-left: 10px;
    width:16px;
    height: 16px;
    margin-right: 10px;
  }
  .link{
    color:black;
    font-size:11px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .link:hover{
    text-decoration: none;
  }
}
.graph-fill{
  margin-left: 100px;
  color:red;
  cursor : pointer;
}
.color-bind{
  margin-left: 40px;
  margin-top: 30px;
  font-weight: bold;

}
.color-select{
  width: 840px;
  margin-left: 15px;
  margin-top:50px;
  display: inline-flex;
  flex-wrap: wrap;

  .color-form-title{
    margin-left: 33px;
  }

  form{

    label{
      padding:2px 5px;
      border-radius: 5px;
      margin-left:35px;
      margin-right: 25px;
      margin-bottom: 20px;
      font-weight:normal;
      width:130px;
    }
    .red{
      background-color: rgba(204,51,51,0.5)
    }
    .yellow{
      background-color: rgba(255,255,51,0.5)
    }
    .blue{
      background-color: rgba(102,153,255,0.5)
    }
    .light-blue{
      background-color: rgba(102,204,255,0.5)
    }
    .green{
      background-color: rgba(51,153,153,0.5)
    }
    .yellow-green{
      background-color: rgba(102,204,153,0.5)
    }
    .white{
      background-color: white;
    }
    input{
      width:20px;
      margin-left:5px;
      margin-right: 40px;
    }
  }
}


#red{
  background-color: rgba(204,51,51,0.6);

}
#yellow{
  background-color: rgba(255,255,51,0.6);

}
#blue{
  background-color: rgba(102,153,255,0.6);

}
#light-blue{
  background-color: rgba(102,204,255,0.6);

}
#green{
  background-color: rgba(51,153,153,0.6);

}
#yellow-green{
  background-color: rgba(102,204,153,0.6);

}
#white{
  background-color: white;

}


.nurie_table{
  border-radius: 15px;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 50px;
  table {
	border-collapse: collapse;
  width:90%;
  table-layout: fixed;


 tr{

   td{
	border: solid 1px;


  width:30px;
  height: 30px;
  padding: 4px;


  }
  }
}
}
.menu-image{
  position: absolute;
    top:170px;
    right:340px;
  width:150px;
  height:160px;
  opacity: 0.85;
  cursor: pointer;
}

.please-click{
  display: flex;
  font-family: fantasy;
  position: absolute;
    top:190px;
    right:300px;
  .icon{
    font-size: 13px;
    margin-right: 5px;
    margin-top:5px;
  }
}


//見出し//
.study-day{
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-top:30px;
  margin-left:25px;
}

.show-form{
  .col-md-6 col-md-offset-3{
    height:300px;
   }
  p{
    font-size: 7px;
  }
}

.studies{
  margin-top:20px;
  .dairy-wrapper{
  .dairy{
    height:170px;
  }
 }
}
.dairys{

  display: flex;
  margin-left: 30px;
 .dairy-wrapper{
   margin-right: 50px;
   width:45%;
  p{
    margin-top: 10px;
    margin-left: 10px;

  }
  .dairy{
  border: double 5px gray;
  height:350px;

  padding:10px;
   }


   .yotei{
     margin:5px 0;

     font-size:15px;
     padding: 5px;
    }
 }
}

.study-time-wrapper{

  display: flex;
  position: fixed;
    top:95px;
    right:60px;
  z-index: 15;
  .study-times{
      display: flex;

      p{
        margin-top: 10px;
        display: block;
        font-weight: bold;
      }
    .box{
      display: flex;
       p{

        font-size:28px;
        padding-left: 0px;
        padding-top: 0px;
        margin-top: 0px;
       }
      .study-time{
        font-weight: bold;
        border: 2px solid gray;
        width:120px;
        height:40px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        border-radius: 6px;
      }
    }
}

}

.new-sheet{
  margin-left: 80px;
  font-size: 20px;
  cursor : pointer;
}
.new-sheet:hover{
  border-bottom: 2px solid;
  font-weight: bold;
}


//ダイアログ//

.dg-container{
  position: fixed;
    top:33%;
    left:30%;

  background-color: #D3D3D3;
  border: 4px black;
  border-radius: 8px;
  z-index: 15;
  padding:20px;
  width:450px;
  height:200px;
}

.dg-title{
  font-size:15px;
  margin-bottom:30px;
}

.dg-content{
  font-size: 14px;
  margin-bottom: 30px;
}
.dg-content-footer{

}
.db-btn-cancel{
  margin-right: 30px;
}



//日記~~ランキング//
.link-wrapper{
  display:flex;
  .write-dairy{
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    height:210px;
    width:320px;
    background-image: image-url('dairy.jpg');
    background-size:cover;
     position:relative;
    .links{
      position:absolute;
        top: 80px;
        left:70px;

      p{
        background-color: #009999;
        border-radius: 5px;
        opacity: 0.95;


        .link{
          color: white;
          display: inline-block;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
          transition: all 0.3s ease 0s;

        }:hover{
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
          transform: translateY(-0.1875em);
          text-decoration: none;

        }




      }


  }


  }
  .rank-link{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 60px;
    margin-bottom:20px;
    padding:0px;
    height:240px;
    width:280px;
    opacity:0.8;
    background-image: image-url('rank.jpeg');
    background-size:cover;
     position:relative;
     .links{
       position:absolute;
         top: 130px;
         left:68px;

       p{
         background-color: #009999;
         border-radius: 5px;
         opacity: 0.95;
         margin-bottom:1px;
         .link{
           color: white;
           padding:5px;

         }:hover{
           text-decoration: none;
           box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
           transform: translateY(-0.1875em)
         }


       }

       }

  }


  .nurie-link{
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 105px;
    margin-bottom:50px;
    padding:0px;
    height:270px;
    width:260px;
    opacity:0.8;
    background-image: image-url('graphs.png');
    background-size:cover;
     position:relative;
     .links{
       position:absolute;
         top: 130px;
         left:47px;

       p{
         background-color: #009999;

         border-radius: 5px;
         opacity: 0.95;
         margin-bottom:10px;
         .link{
           color: white;
           padding:5px;

         }:hover{
           text-decoration: none;
           box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
           transform: translateY(-0.1875em)
         }


       }

       }
  }

}

.users-follow{
  display: flex;
  flex-flow: row wrap;
}

.user-follow{
  width:230px;
  margin-left: 20px;
  padding-bottom: 20px;
  border-right: 1px solid black;
}

.follow-or-followed-title{
  margin-top: 100px;
  margin-bottom: 50px;
  font-size:22px;
}

.back-link-to-profile{
  position: absolute;
      top:167px;
      right: 150px;
}

.follow-button{
  width:160px;
}




.users{
  margin-bottom:30px;
  .data{
    margin-right:5px;
  }
}

.title-wrapper{
  display: flex;
}

.tasks-flash{

  margin-left: 70px;
  margin-top: 30px;
  background-color: #66CC99;
  font-size: 17px;
  color:white;
  width:350px;
  height: 65px;
  padding:25px 30px;
  border-radius: 7px;
}
.tasks-wrapper{
  display: flex;
  flex-wrap:wrap;
  margin-top: 30px;
  margin-left: 25px;
  margin-bottom: 10px;
}
.tasks-title{
  text-align: left;
  margin-left: 30px;
  font-size: 35px;
  margin-top: 50px;
}

.tasks{
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 180px;
}

.task-form{
  position: absolute;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom:23px;
  font-size: 16px;
  border-radius: 10px;
  border:2px solid ;
}

.complete-star{
  position: relative;
    top:37px;
    left:190px;
  font-size: 25px;
  color:#ffd700;
  cursor: pointer;
}
.complete{
  position: relative;
    top:80px;
    left:125px;
}

.star{
  position: relative;
    top:30px;
    left:190px;
  font-size: 30px;
  cursor: pointer;
}
.non-complete{
  position: relative;
    top:80px;
    left:125px;
}


.cross{
  position: relative;
    top:13px;
    right: 13px;
  z-index: 15;
  cursor: pointer;
  width:23px;
  height:23px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-image: image-url('batujirushi.png');
  background-size:cover;
}

.plus-btn{
  background-image: image-url('plus.png');
  background-size:cover;
  width:65px;
  height:65px;
  margin-top:5px;
  margin-bottom: 60px;
  margin-left: 520px;
  cursor: pointer;
}

/*rank*/
.rank-title{
  /*background-color: #FFCC66	;*/
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.ranks-wrapper{
margin-top: 100px;

border-right: 1px solid gray;
height: 720px;
  .ranks{
    /*border-bottom: 1px solid #009999;*/
    margin-left: 15%;
    margin-bottom: 1%;
    display: flex;
    width:400px;
    .rank-icon{
      width:27px;
      height:23px;
      margin-top: 1px;
      background-image: image-url('rank.jpeg');
      background-size: cover;
    }
    .kuuhaku{
      width:15px;
      height:20px;
    }
    p{
      margin-left: 10px;
      font-size:17px;
      padding-bottom: 0px;
    }
    .name{
      .rank-name{
        color:gray;
      }:hover{
        text-decoration: none;
        color: #009999;
      }
    }
  }
}
/* sidebar */
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 20px;
    margin:10px;
    margin-left: 15px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #009999;
      //怪しい//
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/*dairy/edit*/
.edit-wrapper{
  height:600px;
  .editer{

    margin-top:5%;
    margin-bottom:5%;
  .image{
      margin:0 auto;
      background-image: image-url('dairy.jpg');
      background-size:cover;
      width:60%;
      height:500px;
      position:relative;
      opacity: 0.9;
    .form-control{
      position:absolute;
        top:30%;
        left:20%;
      width:60%;
      height:200px;
      border: 1px solid black;
     }
    }
    .btn{
      margin-left: 41%;
      margin-top: 1%;
      width:18%;
      background-color: #009999;
      font-size:20px;

    }

  }
}
/*dairy/index*/
.contents-wrapper{
  margin-top:4%;
  height:760px;
  display:flex;
  flex-wrap: wrap;
  .contents{
      width:25%;
      margin-right: 8%;

    .date{
      font-size: 20px;
      color:black;

    }
    .content{
      border: double 3px gray;
      border-radius: 10px;
      height:310px;
      padding:10px;

      p{
        color:black;
      }
    }
  }
}


.page{
  margin-left: 30%;
}




/*marker#new*/
.new-markers{
  h1{
    text-align: left;
    font-size: 35px;
  }
  margin-bottom:40px;
  margin-left:30px;
  .new-marker{
    margin-top: 15px;
    margin-left:100px;
    display: flex;
    flex-wrap: wrap;

    .color-field{
      .Red{
        background-color: rgba(204,51,51,0.7)
      }
      .Yellow{
        background-color: rgba(255,255,51,0.7)
      }
      .Blue{
        background-color: rgba(102,153,255,0.7)
      }
      .Light-Blue{
        background-color: rgba(102,204,255,0.7)
      }
      .Green{
        background-color: rgba(51,153,153,0.7)
      }
      .Yellow-green{
        background-color: rgba(102,204,153,0.7)
      }
      .form-control{
        margin-right: 30px;
        width:130px;
        font-weight:bold;
      }

    }
    .form-field{
      margin-left: 30px;
      .form-control{
        margin-right: 30px;
        width:300px;
      }

    }
  }
  .btn{
    margin-left: 24%;
    margin-top: 5%;
    width:13%;
    background-color: #009999;
    font-size:15px;
    opacity:0.8;

  }
}


//history//
.analyses-title{
  margin-top: 30px;
  margin-right: 930px;
  font-size:30px;
}
#histories{
  display: flex;

}
.time-by-fields-title{
  margin-top: 100px;
  margin-left: 150px;

}
.time-by-fields-index{
  margin-top: 50px;
  width:850px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
  .time-by-field{
    width:170px;
  }
}

#Menu{
  .menu{
    width: 200px;
    cursor: pointer;
  }
  width: 200px;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 0px;
  border-right: 1px solid gray;
  height: 800px;
  .mini-menu{
    .menu-image{
      position: absolute;
        top:550px;
        left:130px;
      width:190px;
      height:190px;
      opacity: 0.85;
      cursor: pointer;
    }
    .side-menus{
      position: absolute;
        top:530px;
        left:130px;
      width:210px;

    }
  }
}
.aicon{
  color:#339966;
  font-size:20px;
}


.please-click2{
  display: flex;
  font-family: fantasy;
  position: absolute;
    top:590px;
    left:285px;
  .icon{
    font-size: 13px;
    margin-right: 5px;
    margin-top:5px;
  }
}


#red-image{
  background-image:  image-url('red.png');
  background-size: cover;
  width:100px;
  height: 100px;
}
#yellow-image{
  background-image:  image-url('yellow.png');
  background-size: cover;
  width:100px;
  height: 100px;
}
#blue-image{
  background-image:  image-url('blue.png');
  background-size: cover;
  width:100px;
  height: 100px;
}
#light-blue-image{
  background-image:  image-url('skyblue.png');
  background-size: cover;
  width:100px;
  height: 100px;
}
#green-image{
  background-image:  image-url('green.png');
  background-size: cover;
  width:100px;
  height: 100px;
}
#yellow-green-image{
  background-image:  image-url('yellowgreen.png');
  background-size: cover;
  width:100px;
  height: 100px;
}
#white-image{
  background-image:  image-url('white.png');
  background-size: cover;
  width:100px;
  height: 100px;
}

.canvas-tag{
  margin-left:20px;
  margin-top: 80px;
  font-size:20px;
}
#bar-chart{
  margin-top:10px;
  width:300px;

}
.garary{
  display:flex;
}
.garary-wrapper{

  width:600px;
  margin-left:25px;
  border-radius: 2px;
  margin-bottom: 20px;
}

.triangle-right{
     width: 0;
     height: 0;
     border-left: 25px solid #009999;
     border-top: 25px solid transparent;
     border-bottom: 25px solid transparent;
     margin-left:70px;
     margin-top:250px;


}
.chart_container {
    width: 200px;
    margin: auto;
  }

.triangle-right:hover{
  opacity: 0.7;
}
.imformation{
  margin-left: 110px;
}


 .img{
   margin-left:10px;
   margin-top: 40px;
 }

 .current-number{
   margin-top: 30px;
   font-size: 18px;
 }


.triangle-left{
     width: 0;
     height: 0;
     border-top:25px solid transparent;
     border-right: 25px solid #009999;
     border-bottom: 25px solid transparent;
     margin-right: 40px;
     margin-top:250px;
     margin-left: 0px;

}

.triangle-left:hover{
  opacity: 0.7;
}



//feeds//
.scroll-wrapper{
  display: flex;
  position: fixed;
    top:160px;
    right: 50px;
  cursor: pointer;
 .scroll-icon{

   width:25px;
   height: 25px;

   background-image: image-url('ueyaji.png');
   background-size:cover;
   margin-top: 5px;
   margin-right: 5px;
 }
 .scroll{
   font-size: 22px;
 }
}
#feeds{
  margin-top: 100px;
  margin-left: 50px;

}

.feeds-wrapper{

  width:800px;
  display:flex;
  flex-direction: column ;


}



.feeds-box{

    background-image: image-url('note3.png');
    background-size: cover;
    padding:10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    width:700px;
    height:435px;
    margin-right: 40px;
    .feed-name{
      margin-top: 20px;

      font-size: 20px;
    }
    .feeds{
      display: flex;
      flex-wrap: wrap;
      margin-left: 20px;
    .feeds-dairy{
    .feed-description{
      background-color: rgba(126,126,126,0.2);
      padding: 10px;
      width:250px;
      height:300px;
      border-radius: 10px;


    }
  }


    .feed-time-today-wrpper{
      margin-left: 100px;
      .feed-time-today{
          display: flex;
          flex-wrap: wrap;

        .time-by-field-today{

        }
      }
      }

    }

}

.timer-marker-color{
  padding:4px;
  border-radius: 4px;
}

.timer-switch{
  display: flex;
  margin-left: 50px;
  .switch{
    display: flex;
    cursor: pointer;
    margin-top: 27px;


    width:150px;
    padding:5px;
    .switch-icon-timer{
      width:20px;
      height:25px;
    background-image: image-url('timer.png');
    background-size: cover;
    margin-right: 5px;
    margin-left: 5px;
    }
    .switch-icon{
      width:20px;
      height:23px;
    background-image: image-url('pen_mark.png');
    background-size: cover;
    margin-right: 5px;
    }
  }
  .switch:hover{
    background-color: rgba(126,126,126,0.3);
  }
}
.switch{

}

.timer-wrapper{
  margin-top: 20px;
  margin-left: 50px;
  .timer-title{

  }
  .wrapper{
    display:flex;
  .timer-setting{
    margin-right: 20px;
   }

   .pen-image{
     width:20px;
     height:20px;
     background-image:image-url('fudepen.png');
     background-size: cover;
     margin-left: 5px;
   }


 }
  .timer-class-wrapper{
    .timer-form{
      width:150px;
    }
  }
  .timer{
    width:800px;
    height: 400px;
    font-size: 95px;
    font-family: 'arial black';
    background:rgba(0,0,0,0.9);
    color: white;
    text-align: center;
    padding-top: 140px;
    border-radius: 15px;
    letter-spacing: 10px;
  }

  .start{

    width:100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 350px;
    margin-top: 15px;

  }
  .pause{
    width:100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 15px;
  }
  .stop{
    width:100px;
    height: 40px;
    border-radius: 5px;

    margin-top: 15px;
  }


}

/*aboutMe*/
.open-about-me{
display:flex;
  position: absolute;
    top:399px;
    right:370px;
  cursor: pointer;
  font-size: 15px;
  .image-about-me-title{
    background-image: image-url('book_diary.png');
    background-size: cover;
    width:17px;
    height:17px;
    margin-top: 4px;
    margin-right: 5px;
  }
  .open-about-me:hover{
    background-color: rgba(126,126,126,0.3);
  }

}
.about-me{
  width:1000px;
  height: 980px;

  background-color: white;
  border:1px solid black;
  border-radius: 10px;
  padding:15px;
position:absolute;
  top:180px;
  left:190px;
.about-me-title{
  margin-top:40px;
  margin-left: 40px;
}
.about-close{
  z-index: 15;
  background-image: image-url('batujirushi.png');
  background-size: cover;
  width:40px;
  height:40px;
  cursor: pointer;
  position:absolute;
    top:0px;
    left:0px;
}
.about1{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}
.about2{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}
.about3{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}
.about4{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}
}


.explanation-image-1{
  width:230px;
  height: 300px;
  margin-left: 40px;
}

.explanation-image-2{
  width:390px;
  height: 90px;
  margin-left: 40px;
}

.explanation-image-3{
  width:300px;
  height: 200px;
  margin-left: 40px;

}

.explanation-image-4{
  width:300px;
  height: 200px;
  margin-left: 40px;
}
